<html>
    <head>
        <title>Main Controllerdan geliyoruz</title>
       
    </head>
    <body>
        <div class="text-center">
        <h1>Bu sayfa başlığıdır</h1>
        <div>
            <p>@ViewBag.Message</p>
        </div>
        </div>
       
    </body>
</html>