@model Musteri

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Adi" class="control-label"></label>
                            <input asp-for="Adi" class="form-control" />
                            <span asp-validation-for="Adi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Soyadi" class="control-label"></label>
                            <input asp-for="Soyadi" class="form-control" />
                            <span asp-validation-for="Soyadi" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TcNo" class="control-label"></label>
                            <input asp-for="TcNo" class="form-control" />
                            <span asp-validation-for="TcNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mail" class="control-label"></label>
                            <input asp-for="Mail" class="form-control" />
                            <span asp-validation-for="Mail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Adres" class="control-label"></label>
                            <input asp-for="Adres" class="form-control" />
                            <span asp-validation-for="Adres" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefon" class="control-label"></label>
                            <input asp-for="Telefon" class="form-control" />
                            <span asp-validation-for="Telefon" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Aciklama" class="control-label"></label>
                            <input asp-for="Aciklama" class="form-control" />
                            <span asp-validation-for="Aciklama" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="AracId" class="control-label"></label>
                            <select asp-for="AracId" class="form-select" asp-items="ViewBag.AracId"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Yeni Müşteri Ekle" class="btn btn-success" />
                            <a class="btn btn-primary" asp-action="Index">Müşteri Listesine Geri Dön</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>